<!DOCTYPE html>
<html layout:decorator="layout">
    <head>
        <title>giflib | Home</title>
    </head>
    <body>
        <!-- /* Content of this page will be decorated by the elements of layout.html */ -->
        <div class="gifs container" layout:fragment="content">
            <div class="row">
                <div class="col s12 l4">
                    <a>
                        <img th:src="@{/gifs/compiler-bot.gif}" />
                        <a href="#" class="mark favorite"></a>
                    </a>
                </div>
                <div class="col s12 l4">
                    <a>
                        <img th:src="@{/gifs/compiler-bot.gif}" />
                        <a href="#" class="mark favorite"></a>
                    </a>
                </div>
                <div class="col s12 l4">
                    <a>
                        <img th:src="@{/gifs/compiler-bot.gif}" />
                        <a href="#" class="mark favorite"></a>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>